*{
    margin:0px;
    padding:0px;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:hover {
    color: rgba(245, 245, 245, 0.514);
    background-color: transparent;
    text-decoration: underline;
    text-shadow: 1px 1px 1px black;
  }
  
  a:active {
    color: gray;
    background-color: transparent;
    text-decoration: underline;
    text-shadow: 1px 1px black;
  }

body{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color:#F2CFF1;
    overflow-x: hidden;
}

.navbar{
    background-color:#285B23;
    color: #F2CFF1;
    display:flex;
    justify-content:space-between;
    align-items: center;
    border-bottom:solid #285B23 1px;
    top:0%;
    box-shadow: 1px 5px 10px #285B23;
    position: sticky;
    padding:10px 20px;
    z-index: 2;
}

.navbarlinks{
    margin-left: auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: .2;
}
.navbarlinks a{
	font-size: larger;
    font-weight: bold;
    color: #F2CFF1;
    text-shadow: 2px 0px 1px #251325;
}

.navbarlinks a:hover{
    text-decoration: none;
    text-shadow: 2px 0px 4px #251325;
}
.navbarlinks a:active{
	text-shadow: 1px 0px 1px #251325;
	color: gray;
    font-weight: bold;
}

#bars{
    display:none;
    cursor:pointer;
}
@media screen and (max-width:1100px){
    .sidenav-icon{
        display:block;
    }
    .navbar-link{
        display:none;
    }
}

.sidebar{
    background-color:#285B23;
    position:fixed;
    border-radius:5px;
    z-index: 10;
    top: 0;
    right: -40%;
    width: 40%;
    height:100%;
    transition: right 1s ease-in-out;
    border: 0.5px solid black;
}

i{
    cursor:pointer;
}

.heading{
    margin-left:10px;
    font-size: 4vh;
    text-shadow: 1px 1px 3px black;
}

.buttons{
    
    margin-left:20%;
}
.buttons a:active {
	color:gray;
}
.buttons a:hover{
	text-decoration:none;
}

.st{
    float:right;
    margin-right:4%;
    margin-top:7px;
}

.plants{
    text-shadow:1px 1px #285B23;
}

.des{
    font-weight:bold;
}

.intro{
    padding-top:25px;
    padding-bottom:25px;
    padding-left:45px;
}

.plants{
    margin-top:40px;
    margin-bottom:20px;
}

.clients{
    margin-top:20px;
}

.btn{
    background-color:#285B23;
    border-radius: 10px;
    color:white;
    font-weight: bold;
    padding-top:7px;
    margin-bottom:5px;
    padding-bottom:7px;
    padding-left:15px;
    padding-right:15px;
    border:0.5px #285B23 solid;
    box-shadow: 2px 2px 4px #285B23;

    transition:0.1s
}
.btn:hover{
    background-color: #F2CFF8;
    color:#285B23;
    font-weight: bold;
    border:solid #285B23 0.5px;
    cursor:pointer;
}
.btn:active{
    background-color:rgba(0, 0, 0, 0.36);
    color:black;
    opacity: 0.5px;
}

.aboutus{
    background-color:#F2CFF8;
    clear:right;
    text-align:center;
    font-weight:bold;
    height:410px;
}
.boxes{
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    padding:10px;
}
.box1{
    border:solid 2px #285B23;
    padding:25px;
    width:235px;
    transition:0.4s;
}
.box1:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.leaflogo{
    padding-bottom:10px;
}


.assortment{
    font-weight:bolder;
    text-shadow:1px 1px #285B23;

}

.products{
    display:flex;
    justify-content: space-around;
    margin-bottom:5px;
    text-align: center;
}

.flowerpots{
    position:relative;
    flex-wrap:wrap;
    padding:60px;
    text-align: center;
}
.flowerpots img{
    height: 50vh;
    width: 30vh;
}

.flowerpots1{
    position:relative;
    flex-wrap:wrap;
    text-align: center;
    margin-top:15px;
}
.flowerpots1 img{
    height: 50vh;
    width: 30vh;
}

.flowerpots2{
    position:relative;
    flex-wrap:wrap;
    text-align: center;
    margin-top:15px;
}
.flowerpots2 img{
    height: 50vh;
    width: 30vh;
}

.destn{
    font-weight:100px;
    padding:35px;
    transition: 2s;


}

.seller{
    padding:30px;
    background-color:#F2CFF8;
    padding-top:30px;
    padding-bottom:100px;
    transition: 2s;

}

.sellercont{
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    margin-top: 40px;
}

.sellerbox{
    padding:2vh;
}
.sellerbox img{
    height:50vh;
    width:30vh;
}

.happyclient{
    position:static;
    display:flex;
}
.happyclient img{
    margin-left: -170px;
}
.imgdes{
    margin:150px;
    margin-top:50px;

}

img{
    margin-top:-35px;
    height: 250;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #285B23;

}

.newsletter{    
    background-color:#F2CFF8;
    align-items: center;
    text-align: center;



}

.news{
    width: 80%;
    padding:20px 20px 20px 30px;
    background-color: #F2CFF8;
    margin-top:10px;
    margin-bottom:11px;
    border:1px solid #285B23;
    border-radius: 5px;
}


footer{
    padding:3%;
    margin-top: 5vh;
    background-color: #285B23;
    color: #F2CFF8;
    text-shadow: 2px 2px 4px black;
    box-shadow: -5px -2px 3px #285B23;
}

.icon{
    padding-right:10px;
    padding-top:10px;
    text-shadow: 2px 2px black;
    position: relative;
    font-size: 20px;
    color: #F2CFF8;
    text-decoration: none;
    border-radius: 50%;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}
.icon::before{
	content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: rgba(255, 0, 0, 0.2);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.4s, height 0.4s, background-color 0.4s;
    z-index: -1;
}

.icon:hover {
    color: white; /* Change icon color on hover */
}
.copy{
    margin-top:20px;

}

.btn1{
    background-color:#285B23;
    color:white;
    padding-top:7px;
    margin-bottom:5px;
    padding-bottom:7px;
    padding-left:15px;
    padding-right:15px;
    border:0.5px #285B23 solid;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #285B23;
    transition:0.1s;
	font-size: larger;
}
.btn1:hover{
    background-color:#F2CFF8;
    color:#285B23;
    border:solid #285B23 0.5px;
    cursor:pointer;
    box-shadow: 2px 2px 4px #285B23;

}
.btn1:active{
    background-color:#285B23;
    color:#F2CFF8;
    opacity: 0.9;
    box-shadow: 2px 2px 4px #285B23;

}

.popup{
	background-color:#F2CFF8;
    color:#285B23;
    position:fixed;
    border-radius:5px;
    z-index: 10;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    transition:1s;
    text-align: center;
    align-items: center;
    font-size: large;
    font-weight: bolder;
    padding:6px 25px;
}

label{
    display:block;
    text-align: left;
    color:red;
    padding:0 0 0 10%;
    font-size:smaller;
    visibility:hidden;
}

#mailtick{
    visibility:hidden;
    
}